:root {
  font-family: 'Microsoft YaHei', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f6fafe;
  background-image: url("./assets/image/bottom_bg5.png"), url("./assets/image/stars3.png"),
    linear-gradient(#072b74, #0e75f0, #0eb6ff, #74f1e9, #ddffd8);
  background-position: center bottom, center top, left top;
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, fixed;
}

#app {
  width: 100%;
  min-height: 100vh;
}
